DATABASE_URL="postgresql://gamenight:gamenight@localhost:5433/gamenight?schema=public"
DEFAULT_BGG_USERNAME="gezelschapspelgroep"
BGG_API_TOKEN=""
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
